button{
    width: 300px;
    height: 40px;
    border: 0px;
    background-color: white;
    color: black;
    border-radius: 12px;
    font-size: larger;
}

input{
    width: 300px;
    height: 40px;
    font-size: larger;
}

p{
    font-size: larger;
}